* {
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}



.container {
    width: 100vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.option-container {
    width: 100vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}


